NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

POLYMARKET_API_URL=https://clob.polymarket.com
POLYMARKET_GAMMA_API_URL=https://gamma-api.polymarket.com
